# Google Generative AI (Gemini)
GOOGLE_GENERATIVE_AI_API_KEY=your-api-key-here

GEMINI_MODEL="gemini-2.5-flash"

DATABASE_URL="postgresql://postgres@localhost:5432/firstread"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="--your-secret--"
